:local(.outline) {

  .list {
    padding: 0;
    margin: 0;
    list-style: none;

    >.item >.list {
      margin-left: 20px;
    }

    .header {
      display: flex;
      align-items: center;
    }
  }
}
