:local(.outline) {
  overflow: auto;
  min-width: 200px;
  max-width: 400px;
  padding: 20px 4px;
  font-size: 14px;
  user-select: none;
  line-height: 1.4;
  border-right: 1px solid #d0d0d0;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
//~ outline

:local(.node) {
  .header {
    display: flex;
    align-items: center;
    padding: 0 4px;
    &:hover {
      color: #fff;
      background: hsl(217, 71%,  53%);
      .vx-icon-button svg {
        fill: #fff;
      }
    }

    &.vx-hover, .title .vx-hover {
      outline: 1px dashed hsl(217, 71%, 53%);
    }
  }

  .icon {
    display: flex;
    width: 20px;
    .vx-icon-button {
      svg {
        width: 0.8em;
        height: 0.8em;
      }
    }
  }

  .children {
    &.collapsed {
      display: none;
    }
  }

  each(range(10), {
    &.indent-@{value} {
      .spacer {
        padding-left: @value*16px;
      }
    }
  });
}
//~ node
