:local(.simulator) {
  box-sizing: content-box;
  width: 375px;
  margin: 10px auto;
  border: 10px solid #f2f2f2;
}

:local(.container) {
  height: 667px;
  overflow: auto;
  border: 1px solid #d0d0d0;

  .viver-iphonex & {
    height: 812px;
  }
}
